.menu {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;

  & > li {
    flex: 1;
    text-align: center;
    list-style: none;
    position: relative;
    background-color: #111;

    h5 {
      margin: 0;
      padding: 0;
      font-weight: 400;
      line-height: 30px;
    }
  }

  .highlight {
    background-color: #fcd000;
    color: #111;
  }
}

.subMenu {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 40px;
  color: #999;

  & > li {
    list-style: none;
  }
}

.add {
  color: #0ebeff;
}
