@import "https://fonts.proxy.ustclug.org/css?family=Lato:400";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: Lato;
}
body {
  background-color: #191919;
  color: #fff;
	line-height: 1.5;
	font-size: 15px;
	font-weight: 400;
  width: 800px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #76daff;

  &:hover, &:focus, &:active {
    cursor: pointer;
    color: white;
  }
}
label {
  font-weight: normal;
  display: block;
  margin: 0 0 3px 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
input {
  margin-bottom: 24px;
  width: 100%;
	font-size: 13px;
	padding: 4px 5px 4px 5px;
	outline: 0;
	border: 3px solid #ccc;
	border-radius: 2px;
	transition: border-color 0.2s;

  &:focus {
    border-color: #555;
  }
}
button {
	font-size: 1rem;
	text-shadow: none;
	display: inline-block;
	border: 0;
	outline: 0;
	padding: 10px 16px;
	margin: 0 10px 0 0;
	position: relative;
	border-radius: 3px;
	border: 3px solid transparent;
  background: #ccc;
  color: #111;
	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	font-weight: normal;

  &:hover {
    background: #999;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}

.container {
  margin: 80px auto 0;
  height: 560px;
  display: flex;
}
.phone {
  background-color: #28282b;
  width: 320px;
  position: relative;
}
.panel {
  flex: 1;
  margin-left: 40px;
}
.save {
  display: block;
  width: 100%;
  margin: 40px 0 80px;
  background-color: #343436;
  color: #999;

  &:hover {
    background: #0ebeff;
    color: #111;
  }
}
