.footer {
  height: 40px;
  line-height: 1;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #999;
  background: #343436;
  border-top: 1px solid #3E3E3F;
}

.badge {
  font-size: 70%;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1px 3px;
  background: #fcd000;
  border-radius: 3px;
}
.badge a {
  color: black !important;
}
